PORT=5001
DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/pos_db?schema=public"
JWT_SECRET="rahasia_super_aman_pos_12345"

# Konfigurasi Pengiriman Email Struk (Opsional untuk testing, bisa pakai akun Gmail / Ethereal)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="tokoanda@gmail.com"
SMTP_PASS="password_aplikasi"
